absl-py
appnope
astunparse
backcall
beautifulsoup4
bs4
cachetools
certifi
charset-normalizer
click
cycler
decorator
flatbuffers
fonttools
gast
gensim
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
ipython
ipython-genutils
jedi
joblib
keras
Keras-Preprocessing
kiwisolver
libclang
Markdown
matplotlib
matplotlib-inline
nltk
numpy
oauthlib
opt-einsum
packaging
pandas
parso
pexpect
pickleshare
Pillow
prompt-toolkit
protobuf
ptyprocess
pyasn1
pyasn1-modules
Pygments
pyparsing
python-dateutil
pytz
regex
requests
requests-oauthlib
rsa
scikit-learn
scipy
setuptools-scm
six
smart-open
soupsieve
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
Theano
threadpoolctl
tomli
tqdm
traitlets
typing_extensions
urllib3
wcwidth
Werkzeug
wrapt
zipp
black
pre-commit
ipykernel
python-dotenv